.result-modal {
	.final-score {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 48px;
		margin-bottom: 8px;
		padding: 0 22px;
		background-color: #c7bf97;
		border-radius: 24px;
		font-size: 24px;
		font-weight: bold;
	}
}
